version: '3.8'

services:
  app:
    build: .
    container_name: securenet-main
    restart: always
    expose:
      - "80"
    networks:
      - nginx-proxy-manager_default

networks:
  nginx-proxy-manager_default:
    external: true
