version: '3.8'

services:
  app:
    build: .
    container_name: securenet-main
    restart: always
    ports:
      - "8085:80"
    networks:
      - securenet

networks:
  securenet:
    driver: bridge
